body {
	font-family : Arial , Verdana , sans-serif;
	color : black ;
	padding: 10px ; 
	widht: 75%;
	}
	
h1 {
	width: 570рх ;
	padding : 15px ;
	margin: 0рх auto 0рх auto;
	border-top: 2рх solid #000;
	border-bottom: 2px solid #000;
	}

h2{
	width: 570рх ;
	margin: 0рх auto 0рх auto;
}

p {
	width: 570рх;
	padding: 15px;
	margin: 0рх auto 0рх auto;
}

.page {
	background-color : #efefef;
	padding : inherit; 
	}


blockquote{
	float: right;
	widht: 10px;
 }